{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/deposit.css' %}">
{% endblock  %}

{% block content %}
<div class="deposit">
    <form method="post" >
        {% csrf_token %}
  
        <div class="segment">
          <h1>Deposit</h1>
        </div>
        
        <div>
          {{ form.diposit }}
        </div>
          <br>
        <button class="red" type="submit">Submit</button>
      </form>
</div>
{% include "fotter.html" %}
{% endblock %}
