
.n-logo{
    width: 60px;
    height: 40px;
    border-radius: 50%;
}
.f-logo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.details-img{
    width: 250px;
    height: 340px;
    border-radius: 10px;
    position: relative;
    right: 30px;
}

.deposit{
    margin-bottom: 200px;
}