{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="col-12">
  <div class="card m-2">
    <div class="card-body one">
      <div class="d-flex justify-content-center align-items-center p-4">
        <h1>Adopt pets here</h1>
        <img class="home mx-5" src="{% static 'images/adopt.jpeg' %}" alt="">
     </div>
    </div>
  </div>
</div>

<div class="col-12">
  <div class="card m-2">
    <div class="card-body">
      <div class='d-flex justify-content-center flex-wrap'>
      {% for b in pet %}
        
          <a class="btn btn-warning m-2", style="width: 120px;" href="{% url 'pet_wise_post' b.slug %}">{{b.name}}</a>
          
      {% endfor %}
    </div>
    </div>
  </div>
</div>
<div class="col-12">
  <div class="card m-2">
    <div class="card-body three">
      <div class='d-flex justify-content-center'>
        <h4>Total Pet found : {{data | length}}</h4>
      </div>
    </div>
  </div>
</div> 

<div class="col-12">
  <div class="card m-2 ">
    <div class="card-body four"> 
  <div class='d-flex justify-content-center align-items-center  gap-5 flex-wrap' >
    {% for pet in data %}
    <div class="card" style="width: 18rem;">
    <img src="{{pet.image.url}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><a class="btn btn-warning" href="">{{pet.name}}</a></h5>
      <h5 class="card-title">Discription :{{pet.discription | truncatewords:10}} </h5>
      <h5 class="card-title">Price : ${{pet.price}}</h5>
      <h4>Pet Type : <button class="btn btn-danger  m-2">{{pet.pet_type}}</button></h4>
      {% if pet.is_available %}
      <h4>Available</h4>
      {% else %}
        <h4>Not Available</h4>
      {% endif %}
      {% if request.user.is_authenticated %}
       <a class="btn btn-danger  m-2" href="{% url 'pet_edit' pet.id %}">Edit</a>
       <a class="btn btn-danger  m-2" href="{% url 'delete' pet.id %}">Delete</a>
       {% endif %}
       <a class="btn btn-danger  m-2" href="{% url 'Details' pet.id %}">Details</a>
      

      <h5 class="card-title"></h5>
      <div class='p-2' style="width:50% ; margin : auto">
        {% comment %} <a class="btn btn-warning"  href="{% url 'Details' i.id %}">View</a> {% endcomment %}
      </div>
      {% if request.user.is_authenticated %}
      {% if i.is_available %}
      <div style="width:50% ; margin : auto"><a href="{% url 'adopt' id=i.id %}" class="btn btn-warning">adopt</a></div>
      {% endif %}
      {% endif %}
    </div>
    </div>
  {% endfor %}
  </div>
  </div>
</div>
{% endblock  %}