{% extends "base.html" %}
{% load static %}

{% block css %}
<!-- Font Icon -->
<link rel="stylesheet" href="{% static 'css/fonts/material-icon/css/material-design-iconic-font.min.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<link rel="stylesheet" href="{% static 'css/material-design-iconic-font.min.css' %}">

<!-- Main CSS -->
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<div class="login-page">
    <section class="login-section">
        <h2 class="form-title text-center">Log in to Your Account</h2>
                <p class="form-subtitle text-center">Enter your credentials below</p>
        <div class="login-container d-flex ">
            <!-- Left Side: Form -->
            <div class="login-form-container">
                
                <form method="post" class="login-form" id="login-form">
                    {% csrf_token %}
                    {{ form.username.errors }}
                    {{ form.password.errors }}
                    <div class="form-group">
                        <input type="text" name="{{ form.username.name }}" id="{{ form.username.id_for_label }}" placeholder="Username" required/>
                    </div>
                    <div class="form-group">
                        <input type="password" name="{{ form.password.name }}" id="{{ form.password.id_for_label }}" placeholder="Password" required/>
                    </div>
                    <div class="form-group form-button">
                        <input type="submit" name="login" id="slogin" class="form-submit" value="Log in"/>
                    </div>
                </form>
                <button id="auto-fill" class="btn btn-dark">Use Sample Credentials</button>
                <p class="signup-link">Don't have an account? <a href="{% url 'sing_up' %}">Create an account</a></p>
            </div>
            
            <!-- Right Side: Image -->
            <div class="login-image-container ">
                <img src="{% static 'images/signin-image.jpg' %}" alt="Login Image" class="login-image "/>
            </div>
        </div>
    </section>
</div>

{% include 'fotter.html' %}

<script>
    document.getElementById("auto-fill").addEventListener("click", function () {
        document.getElementById("{{ form.username.id_for_label }}").value = "Shifat01";
        document.getElementById("{{ form.password.id_for_label }}").value = "Naim1234#";
    });
</script>
{% endblock %}
