{% extends "base.html" %}
{% load static %}
{%  load crispy_forms_tags %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/details.css' %}">
{% endblock  %}
{% block content %}

<div class="col-12 p-img">
    <div class="card m-2 p-img pet-card">
        <div class='d-flex align-items-center justify-content-center card-content'>
            <div class="p-img">
                <img src="{{details.image.url}}" class="card-img-top details-img" alt="...">
            </div>
            <div class="details-info">
                <h5 class="card-title">{{details.name}}</h5>
                <p class="card-text">{{details.discription}}</p>
                <h5 class="card-title price">Price: ${{details.price}}</h5>
                {% if details.is_available %}
                    <p class="status available">Status: Available</p>
                {% else %}
                    <p class="status not-available">Status: Not Available</p>
                {% endif %}
                <p class="pet-type">Pet Type: <button class="btn type p-1 m-0 btn-danger">{{details.pet_type}}</button></p>
                {% if request.user.is_authenticated %}
                    {% if details.user == request.user %}
                        <div class='btnn'>
                            <a class="btn btn-primary edit-btn" href="{% url 'pet_edit' details.id %}">Edit</a>
                            <a class="btn btn-danger delete-btn" href="{% url 'delete' details.id %}">Delete</a>
                        </div>
                    {% endif %}
                {% endif %}
                {% if request.user.is_authenticated %}
                    <div class="adopt-btn">
                        <a href="{% url 'adopt' id=details.id %}" class="btn btn-warning adopt">Adopt</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="card m-2">
    <h5 class="p-3">Total Reviews: {{ reviews | length }}</h5>
    {% for review in reviews %}
        <div class="card-body border m-2">
            <h3>{{ review.user.username }} </h3>
            <h5>Rating : {{ review.ratting }}</h5>
            <p>{{ review.comment }}</p>
        </div>
    {% endfor %}
</div>
{% if request.user.is_authenticated %}
{% if has_adopted_pet %}
    <div class="card m-2">
        <div class="card-body">
            <form method="post">
                <h1>Add Review</h1>
                {% csrf_token %}
                {{ review_form | crispy }}
                <button class="btn btn-warning">Submit Review</button>
            </form>
        </div>
    </div>
{% endif %}
{% endif %}
        </form>
        {% include "fotter.html" %}
    </div>
</div>


{% endblock  %}