{% extends "base.html" %}
{% load static %}
{% block css %}
<!-- Font Icon -->
<link rel="stylesheet" href="{% static 'css/fonts/material-icon/css/material-design-iconic-font.min.css' %}">
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Poppins:wght@400;600&display=swap" rel="stylesheet">
<!-- Main css -->
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock %}

{% block content %}

<!-- Sign up form -->
<div class="signup-container m-auto mt-4 mb-4">
        <div >
            <h3 class="form-title text-center">Create your account</h3>
            <div class="signup-content ">
                <!-- Left Side: Form -->
                <div class="form-container">
                    
                    {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger mt-3">
                            <p class="font-weight-bold">Error!</p>
                            <p>{{ error }}</p>
                        </div>
                    {% endfor %}
                {% endif %}

                    
                    <form method="post" class="register-form" id="register-form">
                        {% csrf_token %}
                        {% for hidden_field in form.hidden_fields %}
                            {{ hidden_field }}
                        {% endfor %}

                        <!-- Form Fields -->
                        <div class="form-group">
                            <label for="{{ form.username.id_for_label }}">
                                <i class="zmdi zmdi-account"></i> Username
                            </label>
                            <input type="text" name="{{ form.username.name }}" id="{{ form.username.id_for_label }}" placeholder="Username" class="form-control" />
                            {% if form.username.errors %}
                                <div class="error-msg">
                                    {% for error in form.username.errors %}
                                        <p class="text-danger">{{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>

                        <div class="form-group">
                            <label for="{{ form.first_name.id_for_label }}">
                                <i class="zmdi zmdi-account"></i> First Name
                            </label>
                            <input type="text" name="{{ form.first_name.name }}" id="{{ form.first_name.id_for_label }}" placeholder="First Name" class="form-control" />
                            {% if form.first_name.errors %}
                                <div class="error-msg">
                                    {% for error in form.first_name.errors %}
                                        <p class="text-danger">{{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>

                        <div class="form-group">
                            <label for="{{ form.last_name.id_for_label }}">
                                <i class="zmdi zmdi-account"></i> Last Name
                            </label>
                            <input type="text" name="{{ form.last_name.name }}" id="{{ form.last_name.id_for_label }}" placeholder="Last Name" class="form-control" />
                            {% if form.last_name.errors %}
                                <div class="error-msg">
                                    {% for error in form.last_name.errors %}
                                        <p class="text-danger">{{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>

                        <div class="form-group">
                            <label for="{{ form.email.id_for_label }}">
                                <i class="zmdi zmdi-email"></i> Email
                            </label>
                            <input type="email" name="{{ form.email.name }}" id="{{ form.email.id_for_label }}" placeholder="Your Email" class="form-control" />
                            {% if form.email.errors %}
                                <div class="error-msg">
                                    {% for error in form.email.errors %}
                                        <p class="text-danger">{{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>

                        <div class="form-group">
                            <label for="{{ form.password1.id_for_label }}">
                                <i class="zmdi zmdi-lock"></i> Password
                            </label>
                            <input type="password" name="{{ form.password1.name }}" id="{{ form.password1.id_for_label }}" placeholder="Password" class="form-control" />
                            {% if form.password1.errors %}
                                <div class="error-msg">
                                    {% for error in form.password1.errors %}
                                        <p class="text-danger">{{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>

                        <div class="form-group">
                            <label for="{{ form.password2.id_for_label }}">
                                <i class="zmdi zmdi-lock-outline"></i> Repeat Password
                            </label>
                            <input type="password" name="{{ form.password2.name }}" id="{{ form.password2.id_for_label }}" placeholder="Repeat Password" class="form-control" />
                            {% if form.password2.errors %}
                                <div class="error-msg">
                                    {% for error in form.password2.errors %}
                                        <p class="text-danger">{{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>

                        <!-- Submit Button -->
                        <div class="form-group form-button">
                            <input type="submit" name="signup" id="signup" class="form-submit" value="Register" />
                            <div id="loading-spinner" class="spinner"></div> <!-- Loading Spinner -->
                        </div>
                    </form>
                </div>

                <!-- Right Side: Image -->
                <div class="image-container">
                    <figure><img src="{% static 'images/signup-image.jpg' %}" alt="sign up image" class="img-fluid"></figure>
                   
                </div>
                
            </div>
            <a href="{% url 'user_login' %}" class="signup-image-link">Already a member? Login</a>
        </div>
</div>

{% include 'fotter.html' %}
{% endblock %}

{% block js %}

{% endblock %}
